PORT=42069
DATABASE_URL=postgres://postgres:postgres@localhost:5432/localstream?sslmode=disable
DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=25
DB_CONN_MAX_LIFETIME=300
VIDEO_LIBRARY_DIR=./videos
VIDEO_ALLOWED_EXTENSIONS=.mp4
