PORT=42069
DATABASE_URL=postgres://postgres:postgres@localhost:5432/localstream?sslmode=disable
DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=25
DB_CONN_MAX_LIFETIME=300
VIDEO_ALLOWED_EXTENSIONS=.mp4
APP_ENV=production
FRONTEND_APP_DIR=./frontend/build
TMDB_API_KEY=
SUBDL_API_KEY=
ALLOWED_ORIGINS=*
